{% extends "home.html" %}

{% block title %}Login{% endblock title %}

{% block body %}
<center>
<section class="container">
    <div class="row justify-content-around mt-4 ">
        <div class="col-sm-3">
            <form action="login" method="post" class="text-white bg-dark p-3 rounded shadow">
                {% csrf_token %}
                <input class="form-control" type="text" name="username" placeholder="UserName"><br>
                <input class="form-control" type="password" name="password" placeholder="Password"><br>
                <input type="Submit" class="btn btn-success">
            </form>

            <center>
                <div class="row justify-content-around mt-3">
                    {% for message in messages %}
                    <h3> {{message}} </h3>
                    {% endfor %}
                </div>
            </center>
        </div>
    </div>
</section> 
</center>
{% endblock body %}